* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgb(0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.6s ease;
}

.logo:hover {
    color: yellow;
}

span {
    color: yellow;

}

.navbar a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.6s ease;
}

.navbar a:hover,
.navbar a.active {
    color: yellow;
    border-bottom: 3px solid yellow;
}

.home {
    width: 100%;
    min-height: 1%;
    background: linear-gradient(to bottom, rgb(255, 255, 0),black);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 100px 12% 0;

}

.home-content {
    max-width: 800px;
}

.home-content h3 {
    font-size: 42px;
    background-position: yellow;
}

.home-content h1 {
    font-size: 62px;
    line-height: 1.2;
}

.home-content p {
    font-size: 18px;
    margin: 25px 0 30px;
}

.home-content h2 {
    font-size: 62px;
    line-height: 1.2;
}

.question label {
    color: black;
    line-height: 3;

}

.btn-1 {
    padding: 15px 28px;
    background-color: yellow;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-1:hover {
    background-color: white;
    color: black;
    border: 2px solid black;

}

.img-box img {
    border-radius: 50%;
    width: 450px;

}

.article {
    width: 100%;
    min-height: 1%;
    background: black;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 100px 12% 0;
}

.article p {
    font-size: 30px;
    margin: 25px 0 30px;
    color: white;

}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 35px;
    background-color: black;


}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;

}

.footer ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a :hover {
    border-bottom: 3px solid yellow;

}

.footer ul li {
    display: inline-block;
    padding: 0 15px;


}

.container {
    display: flex;
    align-items: center;
    /* Centrer verticalement */
    justify-content: flex-start;
    /* Alignement horizontal de l'image et de l'article */
    gap: 100px;
    /* Espacement entre l'image et l'article */
    padding: 20px;

}

.paragraphe {
    background-color: yellow;
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;

}

.Merci {

    color: black;
    background-color: yellow;
    
}

.diplome h4 {
    text-align: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-size: 1.1em;
    font-weight: bold;
}

form input,
form textarea {
    padding: 10px;
    font-size: 1em;
    border: 2px solid yellow;
    border-radius: 5px;
    outline: none;
}

form input:focus,
form textarea:focus {
    border-color: yellow;
    box-shadow: 0 0 5px rgba(0, 151, 167, 0.5);
}